.DS_Store
Thumbs.db
.idea/
app/storage/photos/imagesprofile/*.png
app/storage/photos/imagesprofile/*.jpg
app/storage/photos/imagesprofile/*.bmp
app/storage/photos/imagesprofile/*.gif
app/storage/photos/imagesprofile/*.jpeg
