body {

  color:white;
  font-size:12px;
  background: #FAFAFA;

}

.login_form, .register_form {
  background-color: #f8f8f8;
    border: 1px solid #e7e7e7;
  border-radius:0.4em;
  padding: 20px;
  overflow: hidden;
  margin-bottom: 15px;
    color: #26A69A;
}


.login_form h1, .register_form h1 {
  font-size:18px;
  padding:10px 0;
}

.header_page a{
  color: white;
}

.header_page a:hover{
  color: white;
}

.forgot_pw{
  display: block;
  margin-top: 50px;
  color: white;
  text-decoration: none;
}

.forgot_pw:hover{
  color: white;
}
